In [15]:
# Machine learning
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# For data manipulation
import pandas as pd
import numpy as np

# To plot
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

/tmp/ipykernel_1771035/2817817116.py:11: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-darkgrid')

In [16]:
# Read the csv file using read_csv
# method of pandas
df = pd.read_csv('ADANI.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-05-02,2325.000000,2362.300049,2311.000000,2339.500000,2338.505859,1006544
1,2022-05-04,2358.699951,2362.899902,2233.050049,2253.800049,2252.842285,1744686
2,2022-05-05,2270.000000,2303.800049,2236.000000,2255.399902,2254.441650,1636796
3,2022-05-06,2210.000000,2262.000000,2200.000000,2247.699951,2246.744873,1161579
4,2022-05-09,2229.500000,2244.199951,2180.000000,2197.649902,2196.716064,1450886
...,...,...,...,...,...,...,...
243,2023-04-25,1806.000000,1913.750000,1801.800049,1844.599976,1844.599976,5364841
244,2023-04-26,1854.000000,1874.000000,1826.400024,1847.900024,1847.900024,2422711
245,2023-04-27,1848.000000,1864.949951,1832.550049,1853.050049,1853.050049,1782360
246,2023-04-28,1868.050049,1944.000000,1857.150024,1924.949951,1924.949951,6159130
247,2023-05-02,1935.000000,1966.000000,1908.000000,1919.849976,1919.849976,3813166

In [17]:
# Changes The Date column as index columns
df.index = pd.to_datetime(df['Date'])
df

# drop The original date column
df = df.drop(['Date'], axis='columns')
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-05-02,2325.000000,2362.300049,2311.000000,2339.500000,2338.505859,1006544
2022-05-04,2358.699951,2362.899902,2233.050049,2253.800049,2252.842285,1744686
2022-05-05,2270.000000,2303.800049,2236.000000,2255.399902,2254.441650,1636796
2022-05-06,2210.000000,2262.000000,2200.000000,2247.699951,2246.744873,1161579
2022-05-09,2229.500000,2244.199951,2180.000000,2197.649902,2196.716064,1450886
...,...,...,...,...,...,...
2023-04-25,1806.000000,1913.750000,1801.800049,1844.599976,1844.599976,5364841
2023-04-26,1854.000000,1874.000000,1826.400024,1847.900024,1847.900024,2422711
2023-04-27,1848.000000,1864.949951,1832.550049,1853.050049,1853.050049,1782360
2023-04-28,1868.050049,1944.000000,1857.150024,1924.949951,1924.949951,6159130
2023-05-02,1935.000000,1966.000000,1908.000000,1919.849976,1919.849976,3813166

In [63]:
def data_preprocessing(ticker):
    dataset = pd.read_csv('{}.csv'.format(ticker))
    dataset = dataset.dropna()
    dataset = dataset[['Open', 'High', 'Low', 'Close']]
    
    dataset['H-L'] = dataset['High'] - dataset['Low']
    dataset['O-C'] = dataset['Close'] - dataset['Open']
    
    dataset['ma_5'] = dataset['Close'].rolling(window=5).mean()
    dataset['ma_10'] = dataset['Close'].rolling(window=10).mean()
    
    dataset['EWMA_12'] = dataset['Close'].ewm(span=12).mean()

    dataset['std_5'] = dataset['Close'].rolling(window=5).std()
    dataset['std_10'] = dataset['Close'].rolling(window=10).std()
    
    dataset['RSI'] = talib.RSI(dataset['Close'].values, timeperiod = 14)
    dataset['Williams %R'] = talib.WILLR(dataset['High'].values, dataset['Low'].values, dataset['Close'].values, 7)
    dataset['SAR'] = talib.SAR(np.array(dataset['High']), np.array(dataset['Low']), 0.2, 0.2)
    dataset['ADX'] = talib.ADX(np.array(dataset['High']), np.array(dataset['Low']), np.array(dataset['Close']), 10)

    dataset['Price_Rise'] = np.where(dataset['Close'].shift(-1) > dataset['Close'], 1, 0)
    
    dataset = dataset.dropna()
    X = dataset.iloc[:, 4:-1]
    y = dataset.iloc[:, -1]
    
    split = int(len(dataset)*0.8)
    X_train, X_test, y_train, y_test = X[:split], X[split:], y[:split], y[split:]
    
    sc = StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.
data_preprocessing('RELIANCE.NS')

(array([[ 1.24990328, -0.25318244, -2.10975508, ...,  0.68610529,
         -2.25878472, -0.75096482],
        [ 0.58656108,  0.55909951, -2.05514846, ...,  1.00355479,
         -2.21475089, -0.60958484],
        [-0.1388872 , -0.17567447, -2.03235373, ...,  0.84622464,
         -2.13745601, -0.477388  ],
        ...,
        [ 0.43399882,  1.20707064,  4.37786509, ...,  1.46602741,
          4.12195834,  2.19843306],
        [ 1.51569103, -2.00175908,  4.46754708, ...,  0.64526713,
          4.21589455,  2.22327845],
        [ 0.36991899,  0.25526678,  4.48040733, ...,  0.52958064,
          4.60241203,  2.13800853]]),
 array([[-1.82774403e-02,  8.78433841e-01,  4.48033922e+00, ...,
          1.04266058e+00,  4.60241203e+00,  2.11142855e+00],
        [ 6.18674611e-01, -1.13057410e+00,  4.48231243e+00, ...,
         -5.76140063e-02,  4.24219651e+00,  2.03866469e+00],
        [ 3.43538047e-01,  1.24736872e+00,  4.49109003e+00, ...,
          1.29259046e+00,  4.30245686e+00,  2.02745390e+00],
        ...,
        [ 3.50193577e+00, -3.00006771e+00,  1.01235661e+01, ...,
         -2.28732857e-01,  9.83328006e+00, -9.26835093e-01],
        [ 1.51945448e+00,  1.74341969e+00,  1.01970536e+01, ...,
          7.63114218e-01,  9.85347840e+00, -9.70050309e-01],
        [ 3.23810795e+00,  1.50205278e+02,  1.01650729e+01, ...,
         -1.40049856e-01,  1.03214219e+01, -8.76603553e-01]]),
 19      1
 20      1
 21      0
 22      1
 23      1
 24      1
 25      0
 26      0
 27      1
 28      0
 29      0
 30      1
 31      0
 32      0
 33      0
 34      1
 35      1
 36      0
 37      0
 38      0
 39      1
 40      0
 41      1
 42      0
 43      1
 44      1
 45      1
 46      0
 47      1
 48      1
        ..
 2081    1
 2082    1
 2083    1
 2084    1
 2085    1
 2086    1
 2087    0
 2088    0
 2089    0
 2090    1
 2091    1
 2092    1
 2093    0
 2094    1
 2095    1
 2096    1
 2097    1
 2098    1
 2099    1
 2100    1
 2101    0
 2102    1
 2103    0
 2104    1
 2105    1
 2106    0
 2107    1
 2108    0
 2109    0
 2110    1
 Name: Price_Rise, Length: 2092, dtype: int32,
 2111    0
 2112    1
 2113    1
 2114    0
 2115    0
 2116    0
 2117    0
 2118    0
 2119    0
 2120    1
 2121    0
 2122    1
 2123    1
 2124    0
 2125    0
 2126    1
 2127    0
 2128    0
 2129    0
 2130    1
 2131    1
 2132    1
 2133    1
 2134    1
 2135    1
 2136    0
 2137    0
 2138    1
 2139    1
 2140    1
        ..
 2604    1
 2605    1
 2606    0
 2607    0
 2608    0
 2609    1
 2610    1
 2611    1
 2612    1
 2613    0
 2614    1
 2615    0
 2616    0
 2617    0
 2618    1
 2619    0
 2620    1
 2621    0
 2622    0
 2623    1
 2624    0
 2625    0
 2626    0
 2627    1
 2628    0
 2629    1
 2630    0
 2631    1
 2632    0
 2633    0
 Name: Price_Rise, Length: 523, dtype: int32)

In [64]:
from sklearn import svm
from collections import Counter

def svm_linear(ticker):
    X_train, X_test, y_train, y_test = data_preprocessing(ticker)
    clf = svm.SVC(kernel = 'linear')
    clf.fit(X_train, y_train)
    confidence = clf.score(X_test, y_test)
    print('accuracy:',confidence)
    predictions = clf.predict(X_test)
    print('predicted class counts:',Counter(predictions))
    
svm_linear('RELIANCE.NS')

accuracy: 0.51434034416826
predicted class counts: Counter({0: 469, 1: 54})

In [65]:
def svm_poly(ticker):
    X_train, X_test, y_train, y_test = data_preprocessing(ticker)
    clf = svm.SVC(kernel = 'poly')
    clf.fit(X_train, y_train)
    confidence = clf.score(X_test, y_test)
    print('accuracy:',confidence)
    predictions = clf.predict(X_test)
    print('predicted class counts:',Counter(predictions))
    
svm_poly('RELIANCE.NS')

accuracy: 0.5315487571701721
predicted class counts: Counter({1: 377, 0: 146})

In [66]:
def svm_rbf(ticker):
    X_train, X_test, y_train, y_test = data_preprocessing(ticker)
    clf = svm.SVC(kernel = 'rbf')
    clf.fit(X_train, y_train)
    confidence = clf.score(X_test, y_test)
    print('accuracy:',confidence)
    predictions = clf.predict(X_test)
    print('predicted class counts:',Counter(predictions))
    
svm_rbf('RELIANCE.NS')

accuracy: 0.5200764818355641
predicted class counts: Counter({0: 388, 1: 135})